.end-screen {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  scroll: hidden;
  background: rgba(0, 0, 0, 0.7);
}

.end-screen-content {
  background: white;
  position: relative;
  margin: 50px auto;
  height: 30%;
  width: 50%;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.close-modal:hover {
  color: rgba(0, 0, 0, 0.6);
}

.button {
  font-size: 1rem;
	padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #eee;
}
