.tower-background.flex-container {
  align-items: flex-end;
}

.tower-background {
  width: 33%;
  height: 100%;
  background: linear-gradient(90deg, transparent 48%, #4a4a4a 48% 52%, transparent 52%);
  margin: 0 20px;
}

.tower {
  width: 100%;
}

.tower-disks {
  width: 85%;
}

.tower-base {
  height: 20px;
  width: 100%;
  background-color: #4a4a4a;
  border-radius: 0.5rem;
  padding: 5px;
}
